@{
    ViewData["Title"] = "Crear Presupuesto";
}
@model TP6MVC.ViewModels.CreatePresupuestoViewModel

<div class="container mt-5">
    <h2 class="text-center mb-4">Crear Presupuesto</h2>

    <form asp-controller="Presupuesto" asp-action="Create" method="post" class="border p-4 shadow-sm rounded">
        <div class="form-group mb-3">
            <label for="IdCliente" class="form-label fw-bold">Seleccionar Cliente</label>
            <select asp-for="IdCliente" asp-items="@(new SelectList(Model.Clientes, "IdCliente", "Nombre"))" 
                    class="form-select" id="IdCliente">
                <option value="">Seleccione un cliente</option>
            </select>
            <span asp-validation-for="IdCliente" class="text-danger"></span>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>
</div>

@section Scripts{<partial name="_ValidationScriptsPartial"/>}

